<nav>
	<h2>Kaneisha Whipple</h2>
	<ul>
		<li>Home</li>
		<li>Portfolio</li>
	</ul>
</nav>

<div class=" work container">
	    <div>
			<img src="images/celiac.png" />
			<p id="tags">Tags: ActionScript 3,Adobe Flash,Nutrionix API</p>
			<h2>{{IdDisplay}}</h2>
			<p>Celiac Tracker is an application that lets you check the ingredients in a food item. It's main purpose is to make it easy for those with Celiac Disease see what they can and cannot eat while they're on the go. The app was made for a project in my Deployment of Flash Projects class. The API used for this project was the Nutrionix API.</p>
			<!-- <a href="#/details/213">Click Here!</a> -->
		</div>
</div>