<div id="space">
  <img src="images/whipple.png" id="name">
  <img src="images/fb.png" id="me">
  <!-- <input type="text" ng-model="user.fName" />
  <input type="text" ng-model="user.lName" /> -->
  <!-- <button ng-click="saveData()">save</button> -->
  <!-- {{remoteData}} -->
  <!-- {{remoteData.activeUser}} -->

</div>

<div style="margin-left:240px; margin-bottom:50px;">
  <a href="#/admin_form">Add A Project</a>
  <a ng-click="loginObj.$login('github')">Login With Github</a>
  <a ng-show="loginObj.user" ng-click="loginObj.$logout()">Logout{{loginObj.user.username}}</a>
</div>

<div class="container" >

      <div class="work eight columns" ng-repeat="($id, item) in items">
      <img ng-src="{{item.imgUrl}}" width="400" height="200" />
      <p id="tags">Tags: {{item.tags}}</p>
      <h2>{{item.title}}</h2>
      <p>{{item.desc}}</p>
      <a href="#/detail/{{$id}}">Click for Details</a>
    </div>
</div>

<!-- ng-model for input fields -->